.ReactCodeMirror {
  .CodeMirror {
    border: $border-global;
    height: calc(50vh - (#{$height-non-editor-area - 0.4em} / 2));
  }
}

@for $i from 1 through 30 {
  .fs#{$i} .CodeMirror {
    font-size: #{1 + $i * 0.1}em;
  }
}

@for $i from 1 through 30 {
  .lh#{$i} .CodeMirror {
    line-height: #{1 + $i * 0.1}em;
  }
}

@for $i from 1 through 30 {
  .ls#{$i} .CodeMirror {
    letter-spacing: #{$i * 0.1}em;
  }
}

.editor-area.vertical {
  .editor {
    display: inline-block;
    width: 50%;
  }
  .ReactCodeMirror {
    width: 100%;
    .CodeMirror {
      height: calc(100vh - #{$height-non-editor-area - 0.6em});
    }
  }
}

.wrong-spelt {
  color: #f00;
}
