$height-editor-toolbar: 1.9em;

.editor-toolbar {

  line-height: 0.9;

  button {
    height: $height-editor-toolbar;
    width: 2em;
    color: $color-editor-toolbar;
    margin: 0;
    transition: $transition-global;
    border: $border-editor-toolbar;
    background-color: $bg-editor-toolbar;
    &:hover {
      background-color: darken($bg-editor-toolbar, 4);
    }
    &:focus {
      border: $border-editor-toolbar-ex;
    }
    &:disabled {
      background-color: $bg-editor-toolbar;
      color: lighten($color-editor-toolbar, 80);
      cursor: not-allowed;
    }
  }

  .section {
    display: inline-block;
    button {
      float: left;
    }
    &:after {
      @include clearfix();
    }
  }

  .section-doc {
    .button-arrow-left, .button-arrow-right {
      padding: 0.1em 0.6em;
      overflow: hidden;
      i {
        font-size: 0.8em;
      }
    }
    .button-arrow-left {
      border-right: 1px solid transparent;
      &:focus {
        border-right: $border-editor-toolbar-ex;
      }
    }
    .button-arrow-right {
      border-left: 1px solid transparent;
      &:focus {
        border-left: $border-editor-toolbar-ex;
      }
    }
    .input {
      width: 8em;
      height: $height-editor-toolbar;
      text-align: center;
      border: $border-editor-toolbar;
      float: left;
      &:focus {
        border: $border-editor-toolbar-ex;
      }
    }
  }

  .section-codemirror {
    margin-left: 0.6em;
    .button-undo {
      i {
        transform: scaleX(-1);
      }
    }
    .button-color {
      padding: 0 0.2em 0.1em;
      width: 2em;
      height: $height-editor-toolbar;
      display: block;
      float: left;
      .glyphicon {
        font-size: 0.7em;
      }
      .underline {
        display: block;
        background-color: #f00;
        height: 2px;
        width: 1em;
        margin: 1px auto 0;
      }
    }
    .button-undo, .button-redo {
      i {
        font-size: 0.7em;
      }
    }
    .button-cut {
      i {
        font-size: 0.8em;
      }
    }
  }

  .language-section {
    float: right;
    .dropdown-toggle {
      padding: 0;
      padding: 0.2em;
      min-width: 12em;
    }
    .btn-group {
      vertical-align: bottom
    }
    .dropdown-menu > li > a {
      position: relative;
      padding-left: 0.8em;
      padding-right: 0.8em;
    }
    i {
      margin-right: 0.7em;
      width: 0.8em;
      display: inline-block;
    }
  }

  &:after {
    @include clearfix();
  }

}

.editor-area.vertical {
  .language-section {
    .dropdown-menu {
      left: initial;
      right: 0;
    }
    .dropdown-toggle {
      min-width: 2em;
      span:not(.caret) {
        @media (max-width: 1440px) {
          display: none;
        }
      }
    }
  }
}

.box-font {
  float: left;
  span {
    padding: 0 0.7em;
    display: inline-block;
    vertical-align: middle;
  }
  .input-group-addon {
    border-radius: 0;
    i {
      font-size: 0.7em;
    }
    padding: 0 0.7em;
    background-color: transparent;
  }
  select.form-control {
    width: 3.6em;
    height: 2.1em;
    border: 0;
    outline: 1px solid #bfbfbf;
    background-color: white;
  }
  .form-group {
    display: inline-block;
    margin: 0;
  }
}

.box-colors {
  padding: 0 0.2em;
  .row {
    margin-bottom: 0;
  }
  span {
    cursor: pointer;
    display: inline-block;
    width: 2.4em;
    height: 2.4em;
    margin: 0 0.2em;
  }
}

.turquoise {
  background-color: #1abc9c;
}

.emerald {
  background-color: #2ecc71;
}

.peter-river {
  background-color: #3498db;
}

.amethyst {
  background-color: #9b59b6;
}

.black {
  background-color: #000;
}

.sun-flower {
  background-color: #f1c40f;
}

.carrot {
  background-color: #e67e22;
}

.alizarin {
  background-color: #99505f;
}

.silver {
  background-color: #bdc3c7;
}

.asbestos {
  background-color: #7f8c8d;
}
