
.image-uploader {
  vertical-align: top;
  border: $border-global;
  height: calc(50vh - (#{$height-editor-toolbar} / 2));
  position: relative;
  width: 100%;
  h1 {
    line-height: 2;
    text-align: center;
    color: #555;
    font-size: 2em;
  }
  .upload-info {
    width: 40em;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 32%;
    margin: auto;
  }
  .button-image-uploader {
    i {
      margin-right: 0.4em;
    }
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.7em;
    display: block;
    margin: 0 auto;
  }
}
