.modal-chunks-apply {
  label {
    width: 100%;
  }
  .chunks {
    height: 55vh;
    overflow: scroll;
    padding-left: 0;
    list-style-type: none;
    .chunk.selected {
      color: #3c763d;
      background-color: #dff0d8;
      border-color: #d6e9c6;
    }
    .chunk {
      margin-bottom: 0.6em;
      border-radius: 4px;
      padding-top: 1em;
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 0;
      input[type="checkbox"] {
        margin-top: 0.6em;
        margin-right: 0.7em;
        vertical-align: top;
      }
      input[type="checkbox"], p {
        display: inline-block;
      }
      p {
        width: 96%;
      }
      line-height: 2;
      @include clearfix();
    }
  }
  span.danger {
    color: #c9302c;
  }
}
