@font-face {
  font-family: Amdo Classic;
  src: url(../assets/fonts/amdo_classic_1.ttf);
}
@font-face {
  font-family: CTRC-uchen;
  src: url(../assets/fonts/ctrc-uchen.ttf);
}
@font-face {
  font-family: CTRC-ht;
  src: url(../assets/fonts/ctrc-ht.ttf);
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: OpenSans-Regular;
  src: url(../assets/fonts/OpenSans-Regular.ttf);
}

body {
  overflow: hidden;
}

// set font-family to inital to override twitter bootstrap's font-family
// DO NOT USE Helvetica Neue to display tibetain
// chararacter (\u3897) will not display properly.
body {
  font-family: initial;
}

// http://bodyig.tibetangeeks.com/info/web/tibetan_unicode_on_web_pages.html
.CodeMirror {
  font-family: "Microsoft Himalaya", "TCRC Youtso Unicode", "Tibetan Machine Uni","Tib-US Unicode", Kokonor, Arial;
}

// disable default outline
* {
  outline: none;
}

// node-sass can't parse \2b well
.glyphicon-plus:before {
  content: "\002b";
}

.progress {
  margin-bottom: 1em;
}

.box-readonly {
  cursor: not-allowed;
}

.readonly {
  pointer-events: none;
}

.container-fluid.root {
  padding: 0;
}

.editor-area {
  @include user-select(none);
}
